body {
    font-family: 'Montserrat', sans-serif;
    margin:0;
    background: linear-gradient(
        -45deg,
        #00249C,
        #40CEE4,
        #C6007E,
        #00249C
    );
    background-size: 400% 400%;
    animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
    0%{
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header{
    background-color: #00249C;
    color: white;
    padding: 30px 20px;
    text-align: center;
}

.logo{
    width: 190px;
    margin-bottom: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

header h1{
    margin: 5px 0;
    font-weight: 700;
}

.subtitle{
    font-weight: 400;
    font-size: 18px;
}

.links{
    margin-top: 15px;
    margin-bottom: 10px;
}

.links a{
    color: #40CEE4;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 600;
}

.links a:hover{
    color: #E280BE;
}

main {
    padding: 30px;
}

.form-section,
.table-section{
    background-color: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

form input{
    padding: 10px;
    margin: 5px;
    border: 1px solid #C5C5C5;  
}

button{
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s ease;
}

button:hover{
    opacity: 0.85;
}


tbody tr {
    animation: fadeSlideIn 0.4s ease forwards;
}

button.edit {
    background-color: #40CEE4;
    color: #00249C;
}

button.delete {
    background-color: #C6007E;
    color: white;
}

table{
    width: 95%;
    margin: 30px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 36, 156, 0.08);
}

thead{
    background-color: #00249C;
    color: white;
}

thead th {
    padding: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

tbody td {
    padding: 14px;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
}

tbody tr {
    transition: background 0.2s ease, transform 0.1s ease;
}

tbody tr:hover {
    background-color: #f5f9ff;
    transform: scale(1.01);
}

tbody tr:last-child td {
    border-bottom: none;
}

table th,
table td{
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

table th{
    background-color: #40CEE4;
    color: #00249C;
    font-weight: 600;
}

.message {
    text-align: center;
    padding: 10px;
    margin: 15px;
    border-radius: 6px;
    font-weight: 600;
    display: none;
}

.success {
    background-color: #40CEE4;
    color: #00249C;
}

.error {
    background-color: #C6007E;
    color: white;
}

.container {
    background: rgba(255, 255, 2555, 0.95);
    padding: 30px;
    border-radius: 16px;
    width: 95%;
    margin: 40px auto;
    box-shadow: 0 15px rgba(0,0,0,0.015);
}

.repo-icon{
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
}

.repo-icon:hover {
    transform: translateY(-3px);
    color:#40CEE4;
}
